/* signup.css */

body {
    font-family: 'Arial', sans-serif;
    
    background: url('https://4kwallpapers.com/images/walls/thumbs/19118.png');
    margin: 0;
    padding: 20px;
}

.form-container {
    max-width: 450px;
    margin: auto;
    background-color: rgba(230, 230, 230, 0.8);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-right: 50px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
    
}                       

input:focus,
select:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #4CAF50;
    transform: translateY(-2px);
}

p {
    margin-top: 20px;
    color: #555;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
